@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContainer {}
.wrapper {
    display: none;
}
.mainContainer:hover .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.dropdown {}
.dropdown-content {
    display: none;
    z-index: 1;
}
.dropdown:hover .dropdown-content {display: block;}